---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro'
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import GitHubIcon from '../components/icons/GitHub.astro'
import MailIcon from '../components/icons/Mail.astro'
---

<Layout 
	title="Porfolio de Juanjo - Desarrollador y Programador Web"
	description="Contrata a Juanjo para crear tu aplicacion web o movil. Desarrollador Web y Analista de datos. Especializado en crear soluciones únicas"
>
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<img 
  		  class="rounded-full size-12 nb-4"
  		  src="https://media.licdn.com/dms/image/v2/D4D35AQGU6VUCZK2fxw/profile-framedphoto-shrink_200_200/profile-framedphoto-shrink_200_200/0/1695660391058?e=1731164400&v=beta&t=byocoLJH439dgh5t9n8J0Jbm5vP184D-h5i_ztQWIqw"
  		  alt="Juanjo foto"
  		/>
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">Hey, soy Juanjo
				<a 
					href="https://www.linkedin.com/in/juan-jose-casas-3797a9180/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-2xl text-wrap">
				<span>+4 años de experiencia.</span>
				<span class="text-yellow-200/90">Desrrollador web y Analisita de Datos.</span>
				<span class="text-red-100/90">De Cordoba, Argentina 🇦🇷.</span>
				<span class="opacity-75">Especializado en crear aplicaciones únicas.</span>
			</h2>

			<nav class="flex gap-x-4 mt-8">
				<SocialPill href="https://www.linkedin.com/in/juan-jose-casas-3797a9180/">
					<LinkedInIcon class="size-6"/>
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/JuanjoCasas">
					<GitHubIcon class="size-6"/>
					GitHub
				</SocialPill>
				<SocialPill href="mailto:juanjosecasaz@gmail.com">
					<MailIcon class="size-6"/>
					juanjosecasaz@gmail.com
				</SocialPill>
			</nav>
		</section>
	</main>
</Layout>
